---
import { cn } from '../common/utils';
interface SectionProps {
  title: string;
  fromLeft?: boolean;
  fromRight?: boolean;
  fromBottom?: boolean;
}
const { title, fromLeft, fromRight, fromBottom } = Astro.props as SectionProps;
const sectionTitle = title.split(' ').join('-');

let direction = '';
if (fromRight) {
  direction = 'from-right';
} else if (fromBottom) {
  direction = 'from-bottom';
} else if (fromLeft) {
  direction = 'from-left';
}
---

<div class="section-container">
  <h3 class="section-title">{title}</h3>
  <div id={sectionTitle} class="section">
    <div
      id={`${sectionTitle}-content`}
      class={cn(
        'section-content',
        direction === '' ? '' : `hidden ${direction}`
      )}
    >
      <slot />
    </div>
  </div>
</div>

<script>
  const sections = document.querySelectorAll('.section-container');
  sections.forEach((section) => {
    const sectionTitle = section.children[0]
      .textContent!.trim()
      .split(' ')
      .join('-');
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          toggleSection(sectionTitle);
          observer.unobserve(entry.target);
        }
      });
    });
    observer.observe(section);
  });

  function toggleSection(sectionTitle: string) {
    const sectionContent = document.querySelector(`#${sectionTitle}-content`);

    if (sectionContent) {
      sectionContent.classList.remove('hidden');
      sectionContent.classList.remove('from-right', 'from-left', 'from-bottom');
    }
  }
</script>

<style>
  .section {
    overflow: hidden;
  }
  .section-title {
    margin-top: 2rem;
  }
  .section-content {
    border-radius: 3px;
    padding: 1rem;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    overflow: hidden;
  }
  .section-content.hidden {
    opacity: 0;
  }
  .section-content.from-right {
    margin-left: 20%;
    margin-right: -20%;
  }
  .section-content.from-left {
    margin-left: -20%;
    margin-right: 20%;
  }
  .section-content.from-bottom {
    margin-top: 20%;
    margin-bottom: -20%;
  }
</style>
